body {
  font-family: "Chakra Petch", serif;
  background: linear-gradient(to bottom right, #04213d, #89bcdf);
  background-attachment: fixed;
  color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
  color: #f1c40f;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  
}

/* Clocks Container */
#clocks {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
}